body {
  background-image: url("./background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #464646;
  background-attachment: fixed;
  color: #FFFFFF;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}
body.no-scroll {
  overflow: hidden;
}
.menu {
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  overflow: hidden;
}
.menu__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.menu__container__link {
  text-decoration: none;
  color: inherit;
  margin-top: 20px;
}
.menu.open {
  visibility: visible;
  animation: fadeIn 0.3s alternate;
  animation-fill-mode: forwards;
}
.header {
  display: none;
}
.header--mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.header__logo {
  width: 48px;
  margin-right: auto;
  justify-self: flex-start;
}
.header__logo--mobile {
  width: 36px;
  margin-right: 10px;
}
.header__link {
  margin: 0 20px;
  text-decoration: none;
  color: inherit;
}
.header__link:hover {
  color: #CCCCCC;
}
.header__menu {
  margin-left: auto;
  justify-self: flex-end;
  cursor: pointer;
}
.header__menu div {
  width: 25px;
  height: 3px;
  background-color: #FFFFFF;
  margin: 5px 0;
  border-radius: 3px;
}
.header__menu--mobile {
  position: relative;
  margin-left: 10px;
  width: 25px;
  z-index: 2;
}
.content {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: auto;
  max-width: 400px;
  flex-direction: column;
}
.content .blurb {
  margin: 20px auto 0px auto;
  width: 90%;
  text-align: center;
}
.content .blurb__headline {
  font-size: 36px;
}
.content .blurb__info {
  margin-top: 15px;
  font-size: 16px;
  color: #D1CFCF;
}
.content .form-container {
  margin: 40px 10px;
  width: auto;
}
.content .form-container__header {
  margin-bottom: 20px;
  text-align: center;
}
.content .form-container__form {
  width: auto;
  min-width: 250px;
  max-width: 600px;
}
.content .form-container__form__input {
  display: block;
  width: calc(100% - 10px);
  margin: 0;
  border: 0;
  color: #FFFFFF;
  font-size: 14px;
  padding: 0px 0px 0px 10px;
  white-space: normal;
  background-color: rgba(207, 204, 204, 0.1);
  line-height: 1;
  height: 50px;
  border-left: 2px solid rgba(163, 162, 162, 0.5);
  border-right: 2px solid rgba(163, 162, 162, 0.5);
  border-top: 1px solid rgba(163, 162, 162, 0.5);
}
.content .form-container__form__input::placeholder {
  color: #FFFFFF;
}
.content .form-container__form__input:first-child {
  border-top: 2px solid rgba(163, 162, 162, 0.5);
  border-radius: 4px 4px 0px 0px;
}
.content .form-container__form__submit {
  border: none;
  border-radius: 0px 0px 4px 4px;
  margin: 0;
  padding: 0;
  width: calc(100% + 4px);
  height: 50px;
  overflow: visible;
  text-align: center;
  cursor: pointer;
  background: #349EF5;
  color: #FFFFFF;
  font: inherit;
  line-height: normal;
}
.content .form-container__footer {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #CCCCCC;
}
.content .form-container__footer a {
  width: max-content;
  display: block;
  text-decoration: none;
  color: #FFFFFF;
  margin: 8px auto 0px auto;
  cursor: pointer;
}
.content .form-container__footer a:hover {
  color: #CCCCCC;
}
.footer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  margin: 150px 10px 0px 10px;
  text-align: center;
}
.footer__info {
  margin-bottom: 30px;
}
.footer__info__link {
  margin: 0 10px;
  text-decoration: none;
  color: inherit;
}
.footer__info__link:hover {
  color: #CCCCCC;
}
@media (min-width: 768px) {
  .content {
    flex-direction: row;
    max-width: 600px;
  }
  .content .blurb {
    margin-top: 60px;
    margin-right: 60px;
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .menu {
    display: none;
  }
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 50px;
    font-size: 20px;
  }
  .header__logo--mobile {
    display: none;
  }
  .header__menu--mobile {
    display: none;
  }
  .content {
    flex-direction: row;
    justify-content: space-between;
    margin: 140px 80px;
    max-width: 100%;
  }
  .content .blurb {
    margin-top: 10px;
    margin-right: 100px;
    width: 90%;
  }
  .content .blurb__headline {
    word-break: break-word;
    font-size: 48px;
    font-weight: 600;
  }
  .content .blurb__info {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
    max-width: 80%;
  }
  .content .form-container {
    margin: 0px 30px;
  }
  .content .form-container__header {
    margin-top: 0px;
  }
  .content .form-container__form {
    width: 400px;
  }
  .content .form-container__form__submit {
    width: calc(100% + 4px);
  }
  .content .footer {
    margin: 0px 10px;
  }
  .footer {
    margin: 0px 50px;
    flex-direction: row;
    text-align: left;
  }
  .footer__info {
    margin-bottom: 10px;
  }
}
@media (min-width: 1200px) {
  .content {
    margin-left: 120px;
    margin-right: 120px;
  }
  .content .blurb__headline {
    font-size: 64px;
  }
  .content .blurb__info {
    margin-top: 20px;
    font-size: 24px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
